/* the animation code */
@keyframes animatedLogo {
    /* the animation will gradualy rotate for the next 90 degrees */
    0% {transform: rotate(90deg);

        }
    25% {transform: rotate(180deg);
        }
        /* as the image rotates, it will change its position along the x-axis */
    50% {transform: rotate(270deg);
        transform: translate(100px);
        }    
    75% {transform: rotate(360deg);
        }
        /* The animation changes its size and colour to a grey scale */
    100% {transform: scale(50%);
        filter: grayscale(100%);
        } 

}




/* Elements that I applied to the animation */
.image {
    width: 10%;
    height: 10%;
    
}

.image:hover {
    animation-duration: 5s;
    animation-name: animatedLogo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    cursor: pointer;
}