/* the animation code */
@keyframes animatedLogo {
    0% {transform: rotate(45deg);
        transform: translateX(200px);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}    
    75% {transform: rotate(360deg);}
    100% {transform: scale(60%);}

}




/* Elements that I applied to the animation */
.image {
    width: 10%;
    height: 10%;
    
}

.image:hover {
    animation-duration: 10s;
    animation-name: animatedLogo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    cursor: pointer;}
